{% extends 'base.html' %}
{% block title%}
        Add Work Experience | {{ name }} | IITG Faculty Portal
{% endblock %}
{% block mainbody %}
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' username %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'experiences' username %}">Experiences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projects' username %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'publications' username %}">Publications</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'recognitions' username %}">Recognitions</a>
      </li>
    </ul>
    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="form-control" method="post" action="{% url 'experienceadd' username=username %}">
            <div class="form-row">
                <div class="form-group col">
                    <label for="job_title"> Job Title </label>
                    <input type="text" class="form-control" placeholder="Enter Job Title" name="job_title" id="job_title" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="organisation">Organisation</label>
                    <input type="text" class="form-control" placeholder="Working Organisation" name="organisation" id="organisation">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="startyear"> Start Year </label>
                    <input type="text" class="form-control" placeholder="Work Start Year" name="startyear" id="startyear" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="endyear"> End Year </label>
                    <input type="text" class="form-control" placeholder="Work End Year" name="endyear" id="endyear" required>
                </div>
            </div>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col text-center">
                    <button type="submit" class="btn btn-outline-primary">Add Work Experience</button>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
{% endblock %}