{% extends 'base.html' %}

{% block title%}
        Projects | {{ name }} | IITG Faculty Portal
{% endblock %}

{% block mainbody %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for project in projects %}
                <div class="card">
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Project Title
                        </div>
                        <div class="col">
                        {{ project.title }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Principal Investigators
                        </div>
                        <div class="col">
                        {{ project.principal_investigator }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Co Principal Investigators
                        </div>
                        <div class="col">
                        {{ project.co_investigator }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Funding Agency
                        </div>
                        <div class="col">
                        {{ project.funding_agency }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Start Year
                        </div>
                        <div class="col">
                        {{ project.start_year }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            End Year
                        </div>
                        <div class="col">
                        {{ project.end_year }}
                        </div>
                    </div>
                    <br>
                    {% if editable %}
                    <form method="post" action="{% url 'projectdelete' username=username %}" style="text-align: right">
                        <input name="projectid" value="{{ project.id }}" hidden>
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                    {% endif %}
                </div>
                </div><br>
                {% endfor %}
                {% if editable %}
                <div class="text-center">
                    <a href="{% url 'projectadd' username=username %}">
                        <button class="btn btn-primary">Add Project</button>
                    </a>
                </div>
                <br>
                {% endif %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

{% endblock %}